@import "variables";

.tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.post__description {
  font-size: 20px;
}
